body{
    background-color: #8acae6;
    margin:0px;
    padding:0px;
}

.pfp{
    width: 400px;
    text-align: center;
    border-color: lightblue;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

ul{
    list-style:none;
}
.landing-text-container{
    position: absolute;
    top: 25%;
    text-align: center;
    z-index: 1;
    color: white;
    width: 100%;
}

.landing-text{
    width: 400px;
    text-align: center;
    width: 100%;

}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:60px;
    background-color: #FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
}
nav ul{
    display: flex;
}

nav ul li a{
    margin:30px;
    color:#505050;
    font-size:15px;
    font-weight:700;
}
