body{
    background-color: white;
    margin:0px;
    padding:0px;
}
.pfp-container{
    /*transform: translate(250%, 25%);*/
    /*padding: 40px;*/
    text-align: center;
    margin: auto;
    margin-top: 2%;
    width: 450px;
}

.pfp{
    width: 400px;
}

ul{
    list-style:none;
}
.landing-text{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 75%);
    width: 100%;
    text-align: center;
    z-index: 1;
    color: blue;
}
.landing-text h2{
    font-size: 3rem;
    color: gray;
}
.landing-text h1{
    font-size: 5rem;
    color: black;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:60px;
    background-color: #FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
}
nav ul{
    display: flex;
}

nav ul li a{
    margin:30px;
    color:#505050;
    font-size:15px;
    font-weight:700;
}
