* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 5%;

}

/* Landing Text */
#landing-text{
    background-color: #8acae6;
    background-size: cover;
    background-position: top center;
    position: relative;
}

#landing-text h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
    margin: auto;
}

#landing-text h4{
    display: block;
    padding: 10px 30px;
    border: 2px solid black;
    font-size: 2rem;
    color: white;
    margin: auto;
    text-align: center;
    width: 70%;
}

#landing-text img{
    width: 500px;
    text-align: center;
    border-color: lightblue;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    position: relative;
    margin: auto;
    display: block;
}
/* End Landing Text */

/* Nav Bar */
ul{
    list-style:none;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:60px;
    background-color: #FFFFFF;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
}
nav ul{
    display: flex;
}

nav ul li a{
    margin:30px;
    color:#505050;
    font-size:15px;
    font-weight:700;
}
/* End Nav Bar */
